In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
%matplotlib inline

In [2]:
london = pd.read_csv('F:\Vertual Environmet for Python\PROGRAMMING IN PYTHON [A]\Final\Datasets\london_weather.csv')
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [3]:
london.keys()

Index(['date', 'cloud_cover', 'sunshine', 'global_radiation', 'max_temp',
       'mean_temp', 'min_temp', 'precipitation', 'pressure', 'snow_depth'],
      dtype='object')

cloud _cover is target vector

In [4]:
london.isnull().sum()

date                   0
cloud_cover           19
sunshine               0
global_radiation      19
max_temp               6
mean_temp             36
min_temp               2
precipitation          6
pressure               4
snow_depth          1441
dtype: int64

In [5]:
london.replace(0, np.nan, inplace=True)
london.isnull().sum()

date                    0
cloud_cover           400
sunshine             2570
global_radiation       19
max_temp               11
mean_temp              46
min_temp               59
precipitation        7969
pressure                4
snow_depth          15201
dtype: int64

In [6]:
london.isnull().sum()/len(london)

date                0.000000
cloud_cover         0.026074
sunshine            0.167525
global_radiation    0.001239
max_temp            0.000717
mean_temp           0.002999
min_temp            0.003846
precipitation       0.519458
pressure            0.000261
snow_depth          0.990874
dtype: float64

In [7]:
london = london.drop('snow_depth', axis =1)
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,NaN,102530.0
2,19790103,5.0,NaN,13.0,1.3,-2.8,-7.2,NaN,102050.0
3,19790104,8.0,NaN,13.0,-0.3,-2.6,-6.5,NaN,100840.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,NaN,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0
15338,20201229,7.0,NaN,21.0,4.1,2.6,1.1,NaN,98830.0
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,NaN,100200.0
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,NaN,100500.0

In [8]:
x = london["precipitation"].mean()
london["precipitation"].fillna(x, inplace = True)
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,19790103,5.0,NaN,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,19790104,8.0,NaN,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,20201229,7.0,NaN,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [9]:
x = london["sunshine"].mean()
london["sunshine"].fillna(x, inplace = True)
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.000000,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,19790102,6.0,1.700000,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,19790103,5.0,5.225668,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,19790104,8.0,5.225668,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,19790105,6.0,2.000000,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.900000,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,20201228,7.0,3.700000,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,20201229,7.0,5.225668,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,20201230,6.0,0.400000,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,20201231,7.0,1.300000,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [10]:
london.isnull().sum()

date                  0
cloud_cover         400
sunshine              0
global_radiation     19
max_temp             11
mean_temp            46
min_temp             59
precipitation         0
pressure              4
dtype: int64

In [11]:
x = london["global_radiation"].mean()
london["global_radiation"].fillna(x, inplace = True)
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.000000,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,19790102,6.0,1.700000,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,19790103,5.0,5.225668,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,19790104,8.0,5.225668,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,19790105,6.0,2.000000,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.900000,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,20201228,7.0,3.700000,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,20201229,7.0,5.225668,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,20201230,6.0,0.400000,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,20201231,7.0,1.300000,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [12]:
london.isnull().sum()

date                  0
cloud_cover         400
sunshine              0
global_radiation      0
max_temp             11
mean_temp            46
min_temp             59
precipitation         0
pressure              4
dtype: int64

In [13]:
x = london.mean()
london.fillna(x, inplace = True)
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,2.0,7.000000,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,19790102,6.0,1.700000,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,19790103,5.0,5.225668,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,19790104,8.0,5.225668,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,19790105,6.0,2.000000,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.900000,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,20201228,7.0,3.700000,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,20201229,7.0,5.225668,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,20201230,6.0,0.400000,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,20201231,7.0,1.300000,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [14]:
london.isnull().sum()

date                0
cloud_cover         0
sunshine            0
global_radiation    0
max_temp            0
mean_temp           0
min_temp            0
precipitation       0
pressure            0
dtype: int64

In [15]:
london['cloud_cover'] = london['cloud_cover'].replace([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'])
london

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,19790101,C,7.000000,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,19790102,G,1.700000,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,19790103,F,5.225668,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,19790104,I,5.225668,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,19790105,G,2.000000,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...,...
15336,20201227,B,0.900000,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,20201228,H,3.700000,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,20201229,H,5.225668,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,20201230,G,0.400000,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,20201231,H,1.300000,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [22]:
london.groupby('cloud_cover').size()

cloud_cover
5.40258349508065     400
9.0                    2
B                    609
C                    865
D                   1163
E                   1834
F                   2329
G                   3014
H                   3191
I                   1934
dtype: int64

In [16]:
london.drop(columns='date', inplace= True)
london

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure
0,C,7.000000,52.0,2.3,-4.1,-7.5,0.400000,101900.0
1,G,1.700000,27.0,1.6,-2.6,-7.5,3.471039,102530.0
2,F,5.225668,13.0,1.3,-2.8,-7.2,3.471039,102050.0
3,I,5.225668,13.0,-0.3,-2.6,-6.5,3.471039,100840.0
4,G,2.000000,29.0,5.6,-0.8,-1.4,3.471039,102250.0
...,...,...,...,...,...,...,...,...
15336,B,0.900000,32.0,7.5,7.5,7.6,2.000000,98000.0
15337,H,3.700000,38.0,3.6,1.1,-1.3,0.200000,97370.0
15338,H,5.225668,21.0,4.1,2.6,1.1,3.471039,98830.0
15339,G,0.400000,22.0,5.6,2.7,-0.1,3.471039,100200.0
15340,H,1.300000,34.0,1.5,-0.8,-3.1,3.471039,100500.0

In [17]:
X = london.drop(columns='cloud_cover')
X = X.drop(columns='sunshine')
X = X.drop(columns='precipitation')
X

       global_radiation  max_temp  mean_temp  min_temp  pressure
0                  52.0       2.3       -4.1      -7.5  101900.0
1                  27.0       1.6       -2.6      -7.5  102530.0
2                  13.0       1.3       -2.8      -7.2  102050.0
3                  13.0      -0.3       -2.6      -6.5  100840.0
4                  29.0       5.6       -0.8      -1.4  102250.0
...                 ...       ...        ...       ...       ...
15336              32.0       7.5        7.5       7.6   98000.0
15337              38.0       3.6        1.1      -1.3   97370.0
15338              21.0       4.1        2.6       1.1   98830.0
15339              22.0       5.6        2.7      -0.1  100200.0
15340              34.0       1.5       -0.8      -3.1  100500.0

[15341 rows x 5 columns]

In [18]:
y = london['cloud_cover']
y

0        C
1        G
2        F
3        I
4        G
        ..
15336    B
15337    H
15338    H
15339    G
15340    H
Name: cloud_cover, Length: 15341, dtype: object

In [21]:
y.groupby()

TypeError: You have to supply one of 'by' and 'level'

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [20]:
from sklearn import svm #for Support Vector Machine (SVM) Algorithm
model_svm = svm.SVC() #select the algorithm
model_svm.fit(X_train, y_train) #train the model with the training dataset
y_prediction_svm = model_svm.predict(X_test) # pass the testing data to the trained model
# checking the accuracy of the algorithm. 
# by comparing predicted output by the model and the actual output
score_svm = metrics.accuracy_score(y_prediction_svm, y_test).round(4)
print("----------------------------------")
print('The accuracy of the SVM is: {}'.format(score_svm))
print("----------------------------------")
# save the accuracy score
score = set()
score.add(('SVM', score_svm))

TypeError: '<' not supported between instances of 'float' and 'str'